#fanband-logohome {
	font-family: yesteryear;
	font-size: 40px;
	color: #28A745 !important;
	padding-right: 304px;
	padding-top: 8px
}


h1{text-align: center;
	align-content: center;

}

.texte-panier-compte{
	font-size: 12px;
}


#logo-panier{
	font-size: 24px;
}

#logo-compte{
	font-size: 24px;
}
.panier:hover{
color: #28A745
}

.compte:hover{
color: #28A745
}

.mr-auto-perso{text-align: center;}

li{
	list-style-type: none;
}

h5{
font-size: 50px !important;
padding-bottom: 280px !important;
font-family: 'Sunflower', sans-serif !important;
color: #FFFFFF;
}

h5:hover{
color: #FFE4B5;
}
.card-header{
font-family: 'Sunflower', sans-serif;
color: #28A745;
font-size:18px;
background-color:#F4F9F4;
}
.card{
padding-left: 0px;
padding-right: 0px;
}
.card{
margin: 10px;
}
footer{
background-color:#F4F9F4;
text-align: center;
color:#28A745;
padding: 30px;
margin-left: 0;
margin-right:0;
}
.text-footer{
font-family: 'Inconsolata', monospace;
color:#28A745;
font-size: 18px;
}
.text-footer:hover{
color:#616161;
}
